.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;

    input[type="text"] {
        width: 50%;
        border-radius: 5px;
        border: solid 1px black;
        outline: none;
        padding: 0.5rem;
    }

    *:last-child {
        margin-top: 1rem;
    }
}